
.terms-and-conditions-container {
    background-color: #F8FBFD;
    display: flex;
    margin: auto;
    padding: 3rem 2rem;
}

.terms-and-conditions-content {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px; /* subtle rounding for professional look */
}

.terms-section {
    margin: 3rem;
    color: #555555;
    font-size: 1.1rem;
}

.terms-section h2 {
    font-size: 1.6rem;
    font-weight: 700;
    color: #1E9ED8;
    margin-bottom: 10px;
}

.terms-section ul {
    padding-left: 20px;
    list-style-type: disc;
}

.terms-section ul li {
    margin-bottom: 8px;
}

/* Up to 1024px (small laptops, large tablets) */
@media (max-width: 1024px) {
    .terms-section {
        font-size: 1rem;

    }

    .terms-section h2 {
        font-size: 1.4rem;
    }
}

/* Up to 768px (tablets and small desktops) */
@media (max-width: 768px) {
    .terms-section {
        font-size: 0.9rem;
    }

    .terms-section h2 {
        font-size: 1.2rem;
    }
}