.get-in-touch-component {
    display: flex;
    padding: 3rem 2rem;
    background-color: #F8FBFD;
    justify-content: center;
    align-items: center;
}

.get-in-touch-component .get-in-touch-content {
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 12px;
}

.get-in-touch-content h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #1E9ED8;
    position: relative;
    display: inline-block;
    padding-bottom: 0.5em;
}

.floating-form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.floating-form input,
.floating-form select,
.floating-form textarea {
    background: transparent;
    border: none;
    border-bottom: 2px solid #1788BD; /* Bottom border for inputs */
    padding: 18px 0;
    width: 100%;
    outline: none;
    font-size: 1.1rem;
    transition: border-color 0.3s ease-in-out;
}

.floating-form input:focus,
.floating-form select:focus,
.floating-form textarea:focus {
    border-bottom: 2px solid #1E9ED8; /* Highlight effect */
}

.floating-form select {
    appearance: none;
    background: url("data:image/svg+xml;utf8,<svg fill='%236EAEE0' width='14' height='14' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'><polygon points='0,0 20,0 10,15'/></svg>")
        no-repeat right 10px center;
    background-size: 12px;
    cursor: pointer;
    padding-right: 24px;
}

.floating-form textarea {
    resize: vertical;
    min-height: 150px; 
}

.floating-form button {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 25px;
    font-size: 1.1rem;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease;
    min-width: 160px;
    background-color: #1E9ED8;
    color: #fff;
    margin-top: 3rem;
    border: none;
}

.floating-form button:hover {
    background-color: #1788BD;
    color: #fff;
}

.name-fields {
    display: flex;
    flex-direction: row;
    gap: 5em;
}

.floating-form label {
    font-size: 1.1rem;
    color: #1788BD;
    margin-top: 1em;
    display: block;
    font-weight: 600;
}

#dynamic-form-item {
    margin-top: 1em;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
    .get-in-touch-content {
        width: 90%;
        max-width: 900px; /* Prevents the form from becoming too wide on large smaller screens */
    }

    .get-in-touch-content h2 {
        font-size: 1.8rem;
    }

    .floating-form input,
    .floating-form select,
    .floating-form textarea {
        font-size: 1rem;
    }

    .floating-form button {
        font-size: 1rem;
    }

    .floating-form label {
        font-size: 1rem;
        margin-top: 0.9em;
    }
}

@media (max-width: 768px) {
    .name-fields {
        flex-direction: column;
        gap: 1em;
    }
    
    .get-in-touch-content {
        width: 90%;
        max-width: 600px; /* Adjust width for tablets and smaller devices */
    }

    .get-in-touch-content h2 {
        font-size: 1.6rem;
    }

    .floating-form input,
    .floating-form select,
    .floating-form textarea {
        font-size: 0.9rem;
    }

    .floating-form button {
        font-size: 0.9rem;
    } 

    .floating-form label {
        font-size: 0.9rem;
        margin-top: 0.8em;
    }
}